#TD1 -  **Arithmétique en Seconde**

## **0 - Travail préparatoire**
1)Remplir les noms et prénoms du groupe


*   élève 1 : 
*   élève 2 :
*   élève 3 :
*   élève 4 :





2)Ajouter les initiales des noms dans le nom du fichier en haut: **arithmetique_seconde_CNB.ipynb**.

3)Quand vous avez fini votre travail, Dans le menu fichier choississez "Télécharger le fichier .ipynb", retrouver le fichier sur votre ordinateur dans le dossier téléchargement, et le copier dans l'espace de travail de la classe sur le réseau.



---


## **I - Multiples**
**I.1 Les nombres entiers**

 Voici un programme qui affiche les nombres de 0 à 100.
Pour l'exécuter, Cliquer sur la flèche "Play" à gauche du code.

In [0]:
for i in range(101):
  print(i)

**I.2 - Les nombres pairs** 

 Sur la base du programme I.1, écrire un programme qui affiche les 100 premiers multiples de 2, c'est à dire les nombres paires.

In [0]:
for i in range(101):
  print(i)

**I.3 Les nombres impairs**

Sur la base du programme I.1, écrire un programme qui affiche les 100 premiers nombres impairs. Attention, le premier nombre impair est 1.

In [0]:
for i in range(101):
  print(i)

### **I.4 Les multiples de 3**

 Sur la base du programme I.1, écrire un programme qui affiche les 100 premiers multiple de a, ou a est un nombre entier quelconque.

In [0]:
a=3
for i in range(101):
  print(i)

## **II - La fonction mathématique % ne donne pas le pourcentage, que donne-t-elle?**
**II.1** Nous allons utiliser une nouvel fonction mathématique dont le symbole est le %.
Le programme suivant affiche pour chaque nombre entier i la valeur de i%2

In [0]:
for i in range(101):
  print(i,"  ",i%2)

a) Que vaut `i%2` pour les nombres pairs?

b) Que vaut `i%2` pour les nombres impairs?

***Votre réponse ici:***

**II.2** Dans le programme du II.1, remplacer le 2 par un 3. 

a)Que vaut `i%3` pour les multiples de 3?

b)Que vaut `i%3` pour les nombres qui ne sont pas des multiples de 3?

***Votre réponse ici:***

**II.3** En modifiant le programme du II.1, Répondre au question suivantes:

a) Que vaut i%12 pour les multiples de 12? 

b) Que vaut i%12 pour les nombres qui ne sont pas des multiples de 12?

***Votre réponse ici:***

### **Conclusion**

 remplir les textes à trous suivants ( $i$ et $a$ sont des entiers naturels):


*   Si $i\%2=0$ alors le nombre entier $i$ est ................ par 2
*   Si $i\%3=0$ alors le nombre entier $i$ est ......................
*   Si $i\%a=0$ alors le nombre entier $i$ est ......................


---

**Propriété :** $i\%a$ donne le reste de la division euclidienne de $i$ par $a$, ce reste vaut 0 quand $i$ est divisible par a.


---



Par exemple :

Multiple de 12:
*   $60=5\times 12 +0\;$ donc   $\;60\%12=0$
*   $66=60+6=5\times 12 +6\;$   donc   $\;66\%12=6$

Multiples de 23:
*   $230=10\times 23+0\;$ donc $\;230\%23=0$
*   $245=10\times 23+15\;$ donc $\;245\%23=15$



---
## **III Listes des diviseurs**

A l'aide de la fonction %:reste de la division euclidienne, écrire un programme qui affiche tous les diviseurs d'un entier $n$ donné.

In [0]:
n=535
#tapez votre code ici