#TD1 -  **Arithmétique en Seconde**

## **0 - Travail préparatoire**
1)Remplir les noms et prénoms du groupe


*   élève 1 : 
*   élève 2 :
*   élève 3 :
*   élève 4 :





2)Ajouter les initiales des noms dans le nom du fichier en haut: **arithmetique_seconde_CNB.ipynb**.

3)Quand vous avez fini votre travail, Dans le menu fichier choississez "Télécharger le fichier .ipynb", retrouver le fichier sur votre ordinateur dans le dossier téléchargement, et le copier dans l'espace de travail de la classe sur le réseau.



---


## **I - Multiples**
**I.1 Les nombres entiers**

 Voici un programme qui affiche les nombres de 0 à 100.
Pour l'exécuter, Cliquer sur la flèche "Play" à gauche du code.

In [1]:
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

**I.2 - Les nombres pairs** 

 Sur la base du programme I.1, écrire un programme qui affiche les 101 premiers multiples de 2, c'est à dire les nombres paires.

In [2]:
for i in range(101):
  print(2*i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

**I.3 Les nombres impairs**

Sur la base du programme I.1, écrire un programme qui affiche les 101 premiers nombres impairs. Attention, le premier nombre impair est 1.

In [3]:
for i in range(101):
  print(2*i+1)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201

### **I.4 Les multiples de 3**

 Sur la base du programme I.1, écrire un programme qui affiche les 101 premiers multiple de a, ou a est un nombre entier quelconque.

In [4]:
a=3
for i in range(101):
  print(a*i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198
201
204
207
210
213
216
219
222
225
228
231
234
237
240
243
246
249
252
255
258
261
264
267
270
273
276
279
282
285
288
291
294
297
300

## **II - La fonction mathématique % ne donne pas le pourcentage, que donne-t-elle?**
**II.1** Nous allons utiliser une nouvel fonction mathématique dont le symbole est le %.
Le programme suivant affiche pour chaque nombre entier i la valeur de i%2

In [5]:
for i in range(101):
  print(i,"  ",i%2)

0    0
1    1
2    0
3    1
4    0
5    1
6    0
7    1
8    0
9    1
10    0
11    1
12    0
13    1
14    0
15    1
16    0
17    1
18    0
19    1
20    0
21    1
22    0
23    1
24    0
25    1
26    0
27    1
28    0
29    1
30    0
31    1
32    0
33    1
34    0
35    1
36    0
37    1
38    0
39    1
40    0
41    1
42    0
43    1
44    0
45    1
46    0
47    1
48    0
49    1
50    0
51    1
52    0
53    1
54    0
55    1
56    0
57    1
58    0
59    1
60    0
61    1
62    0
63    1
64    0
65    1
66    0
67    1
68    0
69    1
70    0
71    1
72    0
73    1
74    0
75    1
76    0
77    1
78    0
79    1
80    0
81    1
82    0
83    1
84    0
85    1
86    0
87    1
88    0
89    1
90    0
91    1
92    0
93    1
94    0
95    1
96    0
97    1
98    0
99    1
100    0

a) Que vaut `i%2` pour les nombres pairs?

b) Que vaut `i%2` pour les nombres impairs?

***Votre réponse ici:***

a) Pour les nombres pairs i%2 vaut 0

b) Pour les nombres impairs i%2 vaut 1

**II.2** Dans le programme du II.1, remplacer le 2 par un 3. 

a)Que vaut `i%3` pour les multiples de 3?

b)Que vaut `i%3` pour les nombres qui ne sont pas des multiples de 3?

***Votre réponse ici:***

a) Pour les multiples de 3 i%3 vaut 0, sinon i%3 vaut 1 ou 2

**II.3** En modifiant le programme du II.1, Répondre au question suivantes:

a) Que vaut i%12 pour les multiples de 12? 

b) Que vaut i%12 pour les nombres qui ne sont pas des multiples de 12?

***Votre réponse ici:***

a) Pour les multiples de 12 i%12 vaut 0, sinon i%12 vaut entre 1 et 11 succesivement.

### **Conclusion**

 remplir les textes à trous suivants ( $i$ et $a$ sont des entiers naturels):


*   Si $i\%2=0$ alors le nombre entier $i$ est **divisible** par 2
*   Si $i\%3=0$ alors le nombre entier $i$ est **divisible par 3**
*   Si $i\%a=0$ alors le nombre entier $i$ est **divisible par 12**


---

**Propriété :** $i\%a$ donne le reste de la division euclidienne de $i$ par $a$, ce reste vaut 0 quand $i$ est divisible par a.


---



Par exemple :

Multiple de 12:
*   $60=5\times 12 +0\;$ donc   $\;60\%12=0$
*   $66=60+6=5\times 12 +6\;$   donc   $\;66\%12=6$

Multiples de 23:
*   $230=10\times 23+0\;$ donc $\;230\%23=0$
*   $245=10\times 23+15\;$ donc $\;245\%23=15$



---
## **III Listes des diviseurs**

A l'aide de la fonction %:reste de la division euclidienne, écrire un programme qui affiche tous les diviseurs d'un entier $n$ donné.

In [0]:
n=1000
for i in range (1,n+1):
  if n%i==0:
    print(i)

1
2
4
5
8
10
20
25
40
50
100
125
200
250
500
1000